/*--------------------BOOTSTRAP OPTION-----------------------------*/

/*----------------------------HEADER--------------------------------*/

*{
  padding: 0;
  margin: 0;
}

html{
  min-height: 100%;
}

body{
    min-width: 1496px;
    min-height: 100%;
}

header{
  width: 100%;
  height: 740px;
}

.header{
  width: 100%;
  height: 740px;
}


a{
  margin-right: 25px;
  font-size: 12px;
  color: #989898;
}

ul{
  width: 500px;
  display: flex;
  list-style: none;
  margin-top: 40px;
}

li{
  margin-top: 20px;
}

.batn{
  margin: 0;
  color: white;
  font-size: 14px;
  margin-top: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  padding-left: 27px;
  padding-right: 27px;
  border-radius: 20px;
  background-color: #bcda5c;
}

@media (max-width: 1020px) {
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-left: 4rem;
  }
}

.banner{
  width: 100%;
  height: 570px;
  overflow: hidden;
}

.banner_img{
  width: 100%;
  height: 100%;
}


.banner_img_next{
  width: 100%;
  height: 100%;
  visibility: hidden;
}


@media (min-width: 1020px) {
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 3rem;
  }
}

/*Position navigation box*/
.navigation {
  position: absolute;
  bottom: 90px;
  left: 90%;
  margin-left: 50px;

  transform: translateX(-50%);
  display: flex;

}

@media (max-width:1278px) {
  .navigation {
    position: absolute;
    bottom: 90px;
    left: 90%;
    margin-left: 50px;
    visibility: hidden;
    overflow: hidden;
    transform: translateX(-50%);
    display: flex;

  }
}



/*Shape navigation buttons into radios*/
.bar{
  color: white;
  font-size: 40px;
  display: block;
}


/*Hide original html radios*/
input[name="r"] {
position: absolute;
visibility: hidden;
}


/*Resize "slides" container into 500% - which is 5 images 100% each. Slides container is the box that containis all images. And make images in one line by flex.*/
.slides {
  width: 500%;
  height: 100%;
  display: flex;

}

/*Make each slide's size 20%. Which is 1/5 of "slides" container where each slide is in, since there are 5 images used.*/

.slide {
  width: 20%;
  transition: 0.3s;
}

/*Make each actual image 100% of size of "slide" container. Since images are in .slide container*/

.slide img {
  width: 100%;
  height: 100%;
}

/*Now when certain radio botton is checked move the first image to the left by certain degree, so that next images is shown in the "slideshow" container.*/

#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -20%;
}

/*Arrows*/

div.arrow-left {
  display: block;
  width: 50px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

div.arrow-right {
    display: block;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }


.hover_banner{
position: absolute;
margin: 180px 0 0 23%;
color:white;
font-size: 50px;
}

@media (max-width: 1020px) {
  .hover_banner{
    width: 600px;
    height: 50px;
  position: absolute;
  margin: 180px 10px 0 44.3%;
  color:white;
  font-size: 40px;
  }
}

.hover_banner1{
  position: absolute;
  font-size: 36px;
  margin: 280px 0 0 44%;
  color: white;
}

@media (max-width: 1020px) {
  .hover_banner1{
    position: absolute;
    width: 200px;
    height: 30px;
    margin: 290px 0 0 65.5%;
    font-size: 31px;
    color: white;
  }
}

.banner_batn{
  position: absolute;
  margin: 400px 0 0 43%;
  font-size: 20px;
  margin-right: 0;
  color: white;
  padding: 15px;
  padding-left: 25px;
  padding-right:  25px;
  background-color: #99c50a;
}

@media (max-width: 1020px) {
  .banner_batn{
    position: absolute;
    font-size: 20px;
    margin-right: 0;
    color: white;
    padding: 15px;
    width: 217px;
    padding-left: 25px;
    padding-right:  25px;
    background-color: #99c50a;
  }
}


/*-------------------Main-----------------*/

main{
  width: 100%;
  height: 2403px;

}

@media (min-width: 657px) {
  body{
    width: 100%;
    height: 2500px;
  }
}

@media (min-width: 995px) {
  main{
    width: 100%;
    height: 2400px;


  }
}

p{
  color: #949494;
}

.sect3{
  background-color: #e2f8ff;
  height: 250px;
  width: 100%;
}

@media (min-width: 578px) {
  .sect3{
    background-color: #e2f8ff;
    height: 450px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .sect3{
    background-color: #e2f8ff;
    height: 250px;
    width: 100%;
  }
}

@media (min-width: 360px) {
  .pose1{
width: 500px;
  float: left;
    flex: 0 1 auto;
  }
}

@media (min-width: 360px) {
  .pose2{
    width: 800px;
    float: left;
    flex: 0 1 auto;
  }
}

@media (min-width: 360px) {
  .pose3{
    width: 300px;
    display: inline-flex;
    margin-left: 3rem;
    flex: 0 1 auto;
  }
}

@media (max-width: 560px) {
  .pose3{
    width: 300px;
     margin-left: 9rem;
    display: inline-flex;
    flex: 0 1 auto;
  }
}

.hoverh2{
  font-size: 20px;
  margin-top: 2rem;
}

@media (max-width: 1020px) {
  .hoverh2{
    font-size: 20px;
    margin-top: 20px;
  }
}

.ab{
  position: absolute;
}

.txt_sect4{
  margin-top: 3rem;
}

.smp{
  font-size: 13px;
  font-weight: bold;
  color: #767676;
}

.view{
  background-image: url("../img/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 680px;
}

.view_hover{
  color: #9ec02d;
}

.comment{
  position: absolute;
  width:400px;
  margin: 180px 0 0 150px;
  height: 150px;
}

.hover_comment{
  width: 200px;
  position: absolute;
  margin: 190px 0 0 17.5rem;
  font-size: 20px;
  color: #9ec02d;
}

.txt_comment{
  width: 370px;
  position: absolute;
  margin: 230px 0 0 10.5rem;
  font-size: 13px;
}

.comment2{
  position: absolute;
  width:400px;
  margin: 180px 0 0 60rem;
  height: 150px;
}


.hover_comment2{
  width: 200px;
  position: absolute;
  margin: 190px 0 0 68.4rem;
  font-size: 20px;
  color: #9ec02d;
}

.txt_comment2{
  position: absolute;
  width: 370px;
  margin: 230px 0 0 61.6rem;
  font-size: 13px;
}


.img_comment{
  position: absolute;
  margin-left: 12rem;
  margin-top: 21rem;
  width: 300px;
}

.img_comment2{
  position: absolute;
  margin-left: 63rem;
  margin-top: 21rem;
  width: 300px;
}

footer{
  position: relative;
  width: 100%;
  height: 100px;
}

.copy{
  font-size: 14px;
}
